.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centers children vertically and horizontally */
    min-height: 100vh; /* Full viewport height */
    background: url('../../images/background.PNG') no-repeat center center; /* Background image */
    background-size: cover; /* Cover the entire viewport without repeating */
    padding: 20px;
    box-sizing: border-box; /* Ensures padding doesn't affect the sizing */
}

.banner-image {
    max-width: 100%;
    height: auto;
}

.login-section {
    width: 100%; /* Adjust width as needed for your layout */
    max-width: 400px; /* Restrict max width for larger screens */
    padding: 25px;
    background-color: #fff; /* White background for the form area */
    border: 1px solid #ccc; /* Subtle border for the card */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensures alignment of content inside the section */
    justify-content: center; /* Also centers content vertically inside the section */
    margin-top: auto;
    margin-bottom: auto; /* Extra assurance for vertical centering */
    position: absolute; /* Positioned absolutely relative to the nearest positioned ancestor */
    left: 50%; /* Horizontal centering */
    top: 50%; /* Vertical centering */
    transform: translate(-50%, -50%); /* Offset the positioning by half of the element's width and height */
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    width: 100%; /* Ensures form elements utilize the full width of the card */
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-size: 16px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: #ff0000;
    text-align: center;
    margin-top: 10px;
}

.forgot-password, .not-member {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a, .not-member a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover, .not-member a:hover {
    text-decoration: underline;
}

.ToastContainer {
    font-size: 14px;
}
