/* Navigation.css */

.header {
    background-color: #8f0000; /* Dark red background */
    width: 100%;
    display: flex;
    justify-content: center; /* Center navbar items */
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Use the full width of the navbar */
    list-style: none;/* Remove list styling */
}

.nav-item, .nav-link {
    color: #fff; /* White text color */
    font-weight: bold; /* Bold font for nav items */
    margin-right: 20px; /* Space between nav items */
    display: flex;
    align-items: center;
    height: 100%;
}

/* Responsive Styles */
@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }
    .nav-item, .nav-link {
        text-align: center; /* Center align the links */
    }
}
