.signup-section {
  width: 80%;
  margin: 20px auto; /* Center the card horizontally */
  padding: 20px;
  background: url('../../images/background.PNG') no-repeat center center;
  background-size: cover; /* Cover the entire area of the card */
  color: #fff; /* Assuming white text to stand out on a likely dark background */
  border-radius: 8px;
  position: relative; /* Needed for layout positioning if additional elements are absolutely positioned */
  justify-content: center;
}

.signup-card {
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white background */
  padding: 40px; /* Provides padding around the content */
  max-width: 1500px; /* Limits the maximum width of the card */
  width: 80%; /* Sets the width to 80% of its container */
  border-radius: 8px;
  color: #312f2f; /* Ensures text is readable on a lighter background */
}

.signup-section h1 {
  margin-left: auto; /* Aligns header to the center of its container */
  margin-right: auto; /* Keeps it centered */
  max-width: 1500px; /* Same as the card to keep width consistent */
  width: 80%; /* Matches the card's width */
  padding-left: 10px; /* Matches the card's left padding */
  padding-right: 40px; /* Ensures padding is consistent on both sides */
  color: #333;
  text-align: left; /* Aligns the text to the left within the styled <h1> area */
}

.signup-card h2 {
  color: #333;
}

.signup-card p, .signup-card li {
  color: #666;
  line-height: 1.6;
}

.signup-card label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.signup-card input[type="text"],
.signup-card input[type="password"],
.signup-card input[type="email"],
.signup-card input[type="tel"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.signup-card input[id="address"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-card textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing */
}

.signup-card button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.signup-card button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}
